<!-- {{string}}...is string interpolation
title property from app component is inserted here
string is dynamically updated based on what we have in our presentation logic 
this isnt the presentation logic but our markup is the presentation

| lowercase ...is a lowercase pipe...pipes transform data...many types of 
pipes and even custom pipes-->
<div>
  <h1>Welcome to {{ title | lowercase }}</h1>
  <app-header></app-header>
  <!-- app routing module contains path to the todo component so
we arent missing our todo selector -->
  <router-outlet></router-outlet>
</div>

<!-- all html selectors should go into one big html selector
...we are using a div tag here...doesnt always have to be a
div-->

<!-- this is presentation with our markup -->
